/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #007BFF;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #007BFF;
    color: #fff;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
} */
/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px;
}
header img {
    width: 70px; /* Set the desired width */
    height: auto; /* Automatically maintain the aspect ratio */
}
header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #007BFF;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    background-color: #007BFF;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

main h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

main p {
    line-height: 1.6;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #777;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    header h1 {
        font-size: 30px;
    }

    nav ul li a {
        padding: 5px;
    }

    main {
        padding: 10px;
    }

    main h2 {
        font-size: 20px;
    }

    footer p {
        font-size: 12px;
    }
}
